// Themes from http://blueprintjs.com/docs/v2/#core/colors.color-schemes

$color-theme-brighter: #FFEEC5;
$color-theme-bright: #F1AEA4;
$color-theme-medium: #D37387;
$color-theme-dark: #A3416E;
$color-theme-darker: #5C255C;

