$pt-app-background-color: $color-theme-darker; //	Application background color
$pt-text-color: $light-gray5;//	Default text color
$pt-text-color-muted: $gray4; //	Muted text color
$pt-text-color-disabled: $gray3;//-disabled	Disabled text color
$pt-heading-color: $color-theme-bright;//	Text color for headers
$pt-link-color: $color-theme-bright;//	Text color for links
$pt-text-selection-color: $color-theme-brighter; //	Text selection color
$pt-icon-color: $color-theme-bright; //	Default icon color
$pt-icon-color-hover: $color-theme-bright; //-hover	Hovered icon color
$pt-icon-color-disabled: $gray3;//-disabled	Disabled icon color
$pt-icon-color-selected: $color-theme-brighter;//-selected	Selected icon color
$pt-divider-black: $color-theme-darker;	//Black divider color
$pt-code-text-color: $color-theme-brighter; //	Code text color
$pt-code-background-color: $color-theme-dark; //	Code background color

$pt-dark-app-background-color: $color-theme-darker; //	Application background color
$pt-dark-text-color: $light-gray5;//	Default text color
$pt-dark-text-color-muted: $gray4; //	Muted text color
$pt-dark-text-color-disabled: $gray3;//-disabled	Disabled text color
$pt-dark-heading-color: $color-theme-bright;//	Text color for headers
$pt-dark-link-color: $color-theme-bright;//	Text color for links
$pt-dark-text-selection-color: $color-theme-brighter; //	Text selection color
$pt-dark-icon-color: $color-theme-bright; //	Default icon color
$pt-dark-icon-color-hover: $color-theme-bright; //-hover	Hovered icon color
$pt-dark-icon-color-disabled: $gray3;//-disabled	Disabled icon color
$pt-dark-icon-color-selected: $color-theme-brighter;//-selected	Selected icon color
$pt-dark-divider-black: $color-theme-darker;	//Black divider color
$pt-dark-code-text-color: $color-theme-brighter; //	Code text color
$pt-dark-code-background-color: $color-theme-dark; //	Code background color

$pt-intent-primary: $color-theme-brighter;
