.map-erangel {
  background-image: url('../../../assets/maps/erangel.jpg');
  /* TODO dynamic */
  width: 800px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}
