body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #293742;
}

html, body {
  height: 100%;
  width: 100%;
}

.bgimage {
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(1px) brightness(5%);
  position: fixed;
  left: 0;
  right: 0;
}

#root {
  position: relative;
  left: 0;
  right: 0;
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

.bgimage::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(101, 101, 101, 0.08);
  opacity: 0.5;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.9750s infinite;
}